{% extends "base.html" %}

{% load static %}

{% block body %}
    <main class="auth-layout">
        <section class="auth-layout__brand">
            <div class="auth-layout__brand-content">
                <img
                    src="{% static 'img/logo.png' %}"
                    alt="Logo de Agenda Clínica"
                    class="auth-layout__logo"
                >

                <h1 class="auth-layout__brand-name">
                    MindCare
                </h1>

                <p class="auth-layout__brand-description">
                    Sistema de gestión para agenda clínica psicológica.
                </p>
            </div>
        </section>

        <section class="auth-layout__content">
            <div class="auth-layout__card">
                {% include "components/messages.html" %}

                {% block auth_content %}
                {% endblock %}
            </div>
        </section>
    </main>
{% endblock %}