# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# Environment variables
.env

# Django
db.sqlite3
*.log
media/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db